* {
  outline-style: none;
}

window {
  margin: 0px;
  border: 1px solid #c6a0f6;
  background-color: #181926;
  border-radius: 16px;
}

#input {
  margin: 5px;
  border: none;
  color: #cad3f5;
  background-color: #24273a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #181926;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #181926;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #cad3f5;
}

#entry:selected {
  background-color: #24273a;
  border-radius: 4px;
}
